<form>
  <input class="form-control"
         type="text"
         name="search"
         (keyup)="filter = $event.target.value">
</form>
<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Nome</td>
      <td>Data</td>
      <td>E-mail</td>
      <td>usuario</td>
      <td>Senha</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios| filtrarPorNome : filter">
      <td>{{usuario.id}}</td>
      <td>{{usuario.nome}}</td>
      <td>{{usuario.data| date:"dd/MM/yyyy"}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.user}}</td>
      <td>{{usuario.senha}}</td>
      <td>
        <button class="btn btn-info" (click)="editar(usuario.id)">Editar</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="excluir(usuario.id)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>