<h1>{{title}}</h1>
<form>
  <input class="form-control"
         type="text"
         name="search"
         (keyup)="filter = $event.target.value">
</form>

<table class="table">
  <thead>
    <tr>
      <td>Nome</td>
      <td>Data</td>
      <td>E-mail</td>
      <td>usuario</td>
      <td>Senha</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios| filtrarPorNome : filter">
      <td>{{usuario.nome}}</td>
      <td>{{usuario.data}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.user}}</td>
      <td>{{usuario.senha}}</td>
    </tr>
  </tbody>
</table>
