<h4 class="text-center" > Registrar Novo Usuário</h4>

<form [formGroup] ="cadastroForm" (submit)="cadastrar()" class="form mt-4">

  <div class="form-group">
    <input formControlName="nome" type="text" class="form-control" placeholder="nome">
    <div *ngIf="cadastroForm.get('nome').errors?.required" class="text-danger">
      Campo NOME deve ser prenchido
    </div>
  </div>

  <div class="form-group">
    <input formControlName="data" type="date" class="form-control" placeholder="Data">
    <div *ngIf="cadastroForm.get('data').errors?.required" class="text-danger">
      Campo DATA deve ser prenchido
    </div>
  </div>

  <div class="form-group">
    <input formControlName="email" type="email" class="form-control" placeholder="E-mail">
    <div *ngIf="cadastroForm.get('email').errors?.required" class="text-danger">
      Campo EMAIL deve ser prenchido
    </div>
  </div>

  <div class="form-group">
    <input formControlName="user" type="text" class="form-control" placeholder="Usuario">
    <div *ngIf="cadastroForm.get('user').errors?.required" class="text-danger">
      Campo USUARIO deve ser prenchido
    </div>
  </div>

  <div class="form-group">
    <input formControlName="senha" type="password" class="form-control" placeholder="Senha">
    <div *ngIf="cadastroForm.get('senha').errors?.required" class="text-danger">
      Campo SENHA deve ser prenchido
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="cadastroForm.invalid">Enviar</button>
</form>
